


.counter {
    width: 80px;
    height: 80px;
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
 
    background-color: #002147;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    animation: count 1s ease-out forwards;
  }
  .counter  p{
    font-size: 10px;
    font-weight: lighter;
    padding-top: 15%;
    padding-right: 10%;
  }
  @keyframes count {
    from {
      transform: scale(1);
      opacity: 0;
    }
    to {
      transform: scale(2);
      opacity: 1;
    }
  }